<!DOCTYPE html>
<html>
{% block leaflet_requirements %}{% endblock %}
<head>
  <title>70 Tons</title>
  <meta charset="utf-8">

  {% load leaflet_tags %}
  {% load static %}

  {% block leafletstyles %}{% endblock %}

  <!-- <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type = "text/css"/>  -->
  <link rel="stylesheet" href="/static/css/body.css"/>  
</head>
<body>
	<!-- <script src="{% static 'jQuery/jquery-3.0.0.min.js' %}"></script> -->
	<!-- <script src="{% static 'jQuery/jquery-ui-1.11.4.custom/jquery-ui.min.js' %}"></script> -->
  <!-- <script src="{% static 'jQuery/jquery-ui-touch-punch.min.js' %}"></script> -->
  <!-- <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> -->
	<!-- <script src="{% static 'js/base.js' %}"></script> -->

{% block main_content %}{% endblock %}
</body>
</html>