<!DOCTYPE html>
<html>
{% block leaflet_requirements %}{% endblock %}
<head>
  <title>70 Tons</title>
  <meta charset="utf-8">

  {% load leaflet_tags %}
  {% load static %}

  {% block leafletstyles %}{% endblock %}

  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type = "text/css"/> 
  <link rel="stylesheet" href="/static/css/body.css"/>  
</head>
<body>
	<script src="/static/jQuery/jquery-3.0.0.min.js"></script>
	<script src="/static/jQuery/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
  <script src="/static/jQuery/jquery-ui-touch-punch.min.js"></script>
  <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/leaflet-heat.js' %}"></script>
  <script src="{% static 'js/block-ui.js' %}"></script>
  
<nav class="navbar navbar-inverse" style="background-color:#000">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">70 Tons</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="findVenue" class="action"><span class="glyphicon glyphicon-log-in"></span> Best Venue</a></li>
        <li><a id="findVenues" class="action"><span class="glyphicon glyphicon-log-in"></span> Top 5 Venues</a></li>
        <li><a id="findSuppliers" class="action"><span class="glyphicon glyphicon-user"></span> Find Suppliers</a></li>
        <li><a class="add_supplier action" data-toggle="modal" data-target="add_supplier"><span class="glyphicon glyphicon-plus"></span> Add Supplier</a></li>
        <li><a id="heatmap" class="action" data-toggle="modal" data-target="add_supplier"><span class="glyphicon glyphicon-plus"></span> Heatmap</a></li>
        <!-- <li><a href="#"><span class="glyphicon glyphicon-screenshot"></span> POI</a></li> -->
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
  
      </div>
    </div>
  </div>


{% block main_content %}{% endblock %}
</body>
</html>